
header ul {
    display: inline-flex;
    float: right;
}
header li {
    margin: 5px;
}
header img h1 {
    float: left
    
}
header h1{
    font-size: 30px;
}
header {
    height: 110px;
}
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* body      */

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

aside {
    width: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    height: 600px;
    float: left;
    margin: 10px 22px 10px 10px;
}
button{
    width: 650px;
    float: left;
    margin-left: 150px;
    margin-top: 10px;
}
div {
    /* width: 350px;
    height: 350px; */
    float: left;
    margin-top: 10px;

}
#textDiv{
    width: 900px;
    height: auto;
}
#item-blocks img{
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    margin: 5px;
    width: 30%;
}
#item-blocks {
width: 82%;
height: 30%;
float: left;
}
#product-results ul {
    list-style: none;
}